.ant-layout-has-sider {
    padding:5px !important;
    
}
.ant-layout-sider-children {
    padding-top:10px !important;
    padding-right:10px !important;
    padding-left:0 !important;
    height:95vh !important;
    
}
.ant-layout-sider {
    border-radius: 15px!important;
    background:black!important;

   
}
.ant-menu-root{
    margin-left:0 !important;
    background:black!important;
}
.ant-btn{
    font-size: 15px !important;
    display: flex!important;
    align-items: center!important;
    justify-content:left!important;
    color: #E8AE3C !important;

}
button{
    color:black;
    border:none;
    box-shadow:none;
    outline:none;
}
.ant-layout-content{
    box-shadow: 0 0 3px !important;
    background:#FAF9F6!important;
    margin-left: 5px!important; 
    margin-right: 5px!important; 
    margin-top: 5px!important; 
    margin-bottom: 0!important; 
    height:80vh!important; 
    overflow-y:scroll!important; 

}
.ant-layout-header{
    border-radius: 15px!important;
    box-shadow: 0 0 2px !important;
    background:black!important;
    margin: 0 5px!important; 
    align-items :center!important; 
    display: flex!important;
    justify-content: space-between!important;
}
.demo-logo-vertical  {
    color: #E8AE3C !important;
margin-bottom:15px!important;
padding-bottom:100px!important;
align-items :center!important; 
font-weight:bold;
font-family: "Montserrat", serif!important;
}

.ant-menu-item-selected {
    border-top-right-radius: 15px !important;
    background: #E8AE3C !important;
    border-bottom-right-radius: 15px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-left: 0 !important;
    align-items :center!important; 
    

  }
  .anticon{
    font-size:20px !important; 
    height:20px!important; 
    width:20px !important; 
  }
  .ant-layout * {
    font-family: "Montserrat", serif !important;
}

.cartItem {
    display: flex; /* Ensures it remains a flex container */
    align-items: center; /* Vertically aligns items */
 
}

.cartItem:hover {
    color: #f5f5f5; /* Light background on hover */
    transform: scale(1.05); /* Slight zoom effect */
    cursor: pointer; /* Indicates interactivity */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow on hover */
}
.ant-pagination-item {
    text-decoration:disabled!important;
    background: black!important;
    color:white !important;
}
.ant-table-bordered{
   
}
.spinner{
    height:100px!important;
    width:100px!important;
    position:absolute!important;
    top:50%!important;
    left:50%!important;
    transform:translate(-50%,-50%)!important;
}
input{
    border:2px solid #E8AE3C !important;
    box-shadow:none!important;
    outline: none !important;
}
input:focus{
    box-shadow:none!important;
    outline: none !important;
}
.ant-select-selector{
    border:2px solid #E8AE3C !important;
    box-shadow:none!important;
    outline: none !important;
}
.custom-table .ant-select-selection-search {
    display: none !important;
}
.p-header{
    font-family: "Montserrat", serif !important;
    font-size:15px;
    margin-top:10px;
    margin-right:10px;
    align-items :center!important; 
    display: block;
}
/* Medium screens (tablets) */
@media (max-width: 1024px) {
    .p-header {
        display: block;
    }
}
/* Small screens (mobiles) */
@media (max-width: 768px) {
    .p-header {
        display: none;
    }
}

/* Extra small screens (mobile phones) */
@media (max-width: 480px) {
    .p-header {
        display: none;
    }
}

